/* Footer */

.footer {
   background: #071629;
   padding-top: 70px;
   padding-bottom: 20px;
}

.footer .items {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 0 100px 0;
}

.footer .items ul {
   display: flex;
}

.footer .copy {
   color: #353535;

   padding-bottom: 5px;
}

.footer .items ul .btn-secondary{
   background: #FFFFFF;
   color:  #071629;
   border-radius: 40px;
   font-weight: 700;
   text-transform: uppercase;
   padding: 7px 10px;
}

.footer .items ul li {
   margin: 0 10px;
   text-transform: lowercase;
   font-weight: 700;
}

.footer .items ul li:first-child {
   margin-left: 0;
}

.footer .items ul li:last-child {
   margin-right: 0;
}

@media screen and (max-width: 768px) {
   .footer .items {
      flex-direction: column;
      padding: 0;
   }

   .footer .items ul {
      padding-left: 0;
      margin-top: 40px;
      margin-bottom: 40px;
   }
}
