 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex; 
  flex-direction: row; 
  flex: auto; 
}


article {
  background-color: #e9ecef; 
  flex: 2; 
  overflow-y: auto; 
}

aside {
  flex: 1; 
  overflow-y: auto; 
}

